.arrange{
    margin-left: 250px;
    margin-right: 250px;
}

.black-color{
    color: black;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
}
/* .header-icon{
   margin-left: 50px;
   margin-right: 100px;
} */
/* .header-search{
    margin-left: 180px;
   margin-right: 120px
} */

.topbar-profile-photo {
    width: 1.5em; 
    height: 1.5em; 
    position: relative;
} 

.story-profile-photo {
    width: 50px; 
    height: 50px; 
    position: relative;
}

.post-profile-photo {
    width: 50px; 
    height: 50px; 
    position: relative; 
}

.sidenav-profile-photo {
    width: 50px; 
    height: 50px; 
    position: relative; 
}

.right-card-margin{
    margin-right: 120px
}
.three-dot :hover{
    cursor: pointer;
}


.profile-info {
    font-size: 14px;
}

.btn-ig {
    background-color: transparent;
    border: 0;
    color: #007bff;
    font-weight: 600;
    right: 0;
    bottom: 0;
    top: 0;
    outline: none !important;
}

.profile-info-username {
    display: block;
    font-weight: 700;
}

.sugest-profile-photo {
    width: 46px; 
    height: 46px;  
    position: relative;
}

.sugest-username {
    font-size: 14px
}
.no-border{
    border-style: none;
}

