.arrange{
    margin-left: 250px;
    margin-right: 250px;
}

.black-color{
    color: black;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
}
/* .header-icon{
   margin-left: 50px;
   margin-right: 100px;
} */
/* .header-search{
    margin-left: 180px;
   margin-right: 120px
} */

.picture{
    width: 1.5em; 
    height: 1.5em; 
    position: relative;
} 

.pictures {
    width: 50px; 
    height: 50px; 
    position: relative;
}

.right-card-margin{
    margin-right: 120px
}
.three-dot :hover{
    cursor: pointer;
}


.profile-info {
    font-size: 14px;
}

.followBtn {
    background-color: transparent;
    border: 0;
    color: #007bff;
    font-weight: 600;
}

.info {
    display: block;
    font-weight: 700;
}

.no-border{
    border-style: none;
}

